.custom-popover {
  --bs-popover-max-width: 300px;
  --bs-popover-header-bg: #f4364c;
  --bs-popover-header-color: var(--bs-white);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: .5rem;
  --bs-popover-font-size: 1em;
}

.custom-popover a {
  color: white;
  background-color: var(--bs-primary);
  text-decoration: none;
  padding: 2px;
}

.custom-popover a:hover {
  background-color: white;
  color: var(--bs-primary);
}

.piece {
  cursor: pointer;
}

.piece:hover {
  background-color: #f4364c;
}

strong {
  background-color: black;
  color: white;
  padding: 3px;
}